body{
    margin: 0;
    background-color: #32579E;
}

main{
    width: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

.header{
    background-color: #32579E;
    display: flex;
    padding: 20px;
    position: relative;
    height: 70px;
    text-align: center;
    color: #fff;
    font-family: Poppins;
}

.PH{
    position: absolute;
    top: 0px;
    left: 143px;
    font-size: 25;
    font-weight: 500;
}

.SSS{
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 36px;
    font-weight: bolder;
}

.header img{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.login-rectangle{
    margin-top: 50px;
    margin-left: 250px;
    width: 45%;
    left: 50px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 350px;
}

.login-rectangle button{
    margin-top: 10px;
    margin-left: 90px;
    height: 30px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-rectangle button:hover{
    background-color: #8FB2F4; /* Green */
    color: white;
}

h2.login{
    padding: 20px;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    color: #32579E;
}

.admLog{
    margin-left: 170px;
}

.admLog label{
    text-indent: 10px;
    color: #32579E;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
}

.admLog input{
    height: 35px;
    border-radius: 10px;
    border: 3px solid #8FB2F4;
    color: #32579E;
    font-family: Poppins;
    font-size: 20px;
    text-indent: 10px;
}

.rectangle{
    margin-top: 15px;
    margin-left: 50px;
    width: 85%;
    left: 50px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 450px;
}

.rectangle button{
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.rectangle button:hover{
    background-color: #8FB2F4; /* Green */
    color: white;
}

.member th{
    color: #32579E;
    font-family: Poppins;
    font-weight: bold;
}

.empHisto th{
    color: #32579E;
    font-family: Poppins;
    font-weight: bold;
    width: 1050px;
}

.depChild th{
    color: #32579E;
    font-family: Poppins;
    font-weight: bold;
    width: 1050p
}

.create-rectangle{
    margin-top: 50px;
    margin-left: 250px;
    width: 45%;
    left: 50px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 550px;
}

.create-rectangle button{
    margin-top: 10px;
    margin-left: 50px;
    height: 30px;
    background-color: #32579E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    color: white;
    border: 2px solid #32579E;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-rectangle button:hover{
    background-color: #8FB2F4; /* Green */
    color: white;
}

.accForm{
    margin-left: 170px;
}

.accForm label{
    text-indent: 10px;
    color: #32579E;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
}

.accForm input{
    height: 35px;
    border-radius: 10px;
    border: 3px solid #8FB2F4;
    color: #32579E;
    font-family: Poppins;
    font-size: 20px;
    text-indent: 10px;
}

.accForm input[type="date"]{
    height: 35px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid #8FB2F4;
    color: #32579E;
    font-family: Poppins;
    font-size: 20px;
    text-indent: 10px;
}
